.next
.vscode
.env.local
.eslintignore
.gitignore
.npmrc
.nvmrc
.prettierignore
.editorconfig
.DS_Store
*.md
*.png
*.jpg
*.gif
*.svg
*.ico
*.enc
.firebaserc
.editorconfig
pnpm-local.yaml
yarn-error.log
dist
.vercel
.env
.docker
config
plans
devops
firestore.rules
storage.rules
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
.firestore-tmp/
public/*
node_modules/*
artifacts/*
.env.local.prod
.env.local
.github-actions/*
.ideas/*